# MongoDB configuration
MONGODB_URI=""
MONGODB_DB=""

# Admin authentication
ADMIN_PASSWORD=""
ADMIN_SESSION_SECRET=""

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
